@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 font-family: "Poppins";
}

::-webkit-scrollbar {
 width: 5px;
 height: 5px;
 color: black;
}
::-webkit-scrollbar-track {
 background-color: white;
}
::-webkit-scrollbar-thumb {
 color: white;
 background-color: #5a5dfa;
 border-radius: 10px;
}
::-webkit-scrollbar {
 scroll-behavior: smooth;
 transition: 0.3 ease-in-out;
}

.custom-shape-divider-bottom-1730098822 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
 z-index: 1;
}

.custom-shape-divider-bottom-1730098822 svg {
 position: relative;
 display: block;
 width: calc(224% + 1.3px);
 height: 500px;
 transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1730098822 .shape-fill {
 fill: #4364ff;
}

.custom-shape-divider-top-1730107130 {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
 z-index: 1;
}

.custom-shape-divider-top-1730107130 svg {
 position: relative;
 display: block;
 width: calc(169% + 1.3px);
 height: 304px;
 transform: rotateY(180deg);
}

.custom-shape-divider-top-1730107130 .shape-fill {
 fill: #4364ff;
}

.custom-shape-divider-bottom-1730205142 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
 z-index: 1;
}

.custom-shape-divider-bottom-1730205142 svg {
 position: relative;
 display: block;
 width: calc(201% + 1.3px);
 height: 343px;
}

.custom-shape-divider-bottom-1730205142 .shape-fill {
 fill: #4364ff;
}

/* Add to your CSS file */
.slick-prev:before,
.slick-next:before {
 display: none !important;
}

/* Hide only the default Slick arrows */
.slick-prev.slick-arrow,
.slick-next.slick-arrow {
 display: none !important;
}

/* Ensure custom arrows are visible */
.custom-arrow-container {
 display: flex !important;
}

.custom-arrow {
 display: flex !important;
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #CBD5E1 #F1F5F9;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F1F5F9;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 4px;
  border: 2px solid #F1F5F9;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94A3B8;
}

.bg-grid-pattern {
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.05) 1px, transparent 0);
  background-size: 20px 20px;
}